.widget .widget-custom {
  padding-botton: 40px;
}

span.pull-right.new-environment {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: -5px;
  font-family: Montserrat;
  font-size: 15px;
}

span.pull-right.new-environment i.fa {
  padding: 5px;
}
img.companyLogoinner {
  width: 100px;
  position: absolute;
  left: 15px;
  top: 3px;
}
.MuiDrawer-paperAnchorLeft {
  color: #fff !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.MuiDrawer-docked .MuiSvgIcon-root {
  fill: #fff !important;
  font-size: 1.3rem !important;
}
.dropdown-menu.show {
  position: absolute;
  transform: translate3d(-97px, 38px, 0px);
  top: 16px;
  left: 0px;
  will-change: transform;
  padding: 10px 15px;
  background: #1c183f;
  color: #fff;
}
ul.dropdown-menu.show li a {
  color: #fff;
  font-size: 13px;
  margin: 10px 0 10px 0;
  padding: 5px 0;
  display: block;
  text-decoration: none;
  cursor: pointer;
}
ul.dropdown-menu.show li a svg {
  margin-right: 5px;
}
button.btn.btn-primary.dropdown-toggle {
  background: transparent;
  border: none;
  padding: 0;
}
ul div a.active {
  color: #43acff;
}
ul div a.active svg.MuiSvgIcon-root {
  fill: #43acff !important;
}

main {
  background: #f4f5fd;
}
.makeStyles-toolbar-2,
.MuiToolbar-regular {
  background: hsla(0, 0%, 100%, 0.95) !important;
  color: #000;
}
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  min-width: 15rem;
}
ul.MuiList-root.MuiMenu-list.MuiList-padding {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.info_ul:last-child {
  margin-bottom: 0 !important;
}
.MuiCardContent-root,
.MuiFormControl-root.MuiTextField-root {
  width: 100%;
}
